<nb-card class="inline-form-card">
  <nb-card-header>Carga Agilizaciones</nb-card-header>

  <nb-card-body>
    <div class="alert alert-danger" *ngIf="loadingUpload && errorUploadRequest ">
      {{errorMsgResponse}}
    </div>
    <div class="alert alert-success" *ngIf="loadingUpload && successUploadRequest ">
      {{errorMsgResponse}}
    </div>
    <div class="row">
      <div class="col-md-4">
        <form [formGroup]="formUpload" (ngSubmit)="onSubmit()" >  
          <div class="wrap-select">
            <label for="empresa" >Empresa:</label>
            <nb-select name="empresa" placeholder="Selecciona Una Empresa" outline status="info" size="xsmall" class="full-width selectEmpresa" formControlName="empresaId" >
              <nb-option *ngFor="let item of empresas" [value]="item.id">
                  {{ item.razonSocial }}
              </nb-option>
            </nb-select>
            <ng-container *ngIf="loadingUpload && empresa?.invalid ">
                <p class="error-message-file" *ngIf="empresa.errors?.required">
                Este campo es requerido.
                </p>
            </ng-container>

            <div class="wrap-button">
              <button type="submit" nbButton status="success">Iniciar</button>
            </div>
          </div>
          
        </form>
      </div>
      <div class="col-md-6">
        <div class="wrap-fileUpload">
         <label for="file0" >Archivo:</label>
         <ng-container *ngIf="loadingUpload && errorUpload "> 
            <p class="error-message">
            Debe seleccionar un archivo.
            </p>
          </ng-container>
         <angular-file-uploader #fileUpload1 
          [config]="afuConfig" (ApiResponse)="respUpload($event)" (change)="fileUploadChanged($event)">
         </angular-file-uploader>
         
        </div>
        
      </div>

      
    </div>
      
  </nb-card-body>
</nb-card>