.wrap-select {
  display: block;
  // border: 1px solid red;
  label {
    display: inline-block;
    vertical-align: bottom;
    // margin-right: 10px;
    // padding-left: 1rem;
  }
  .container-select{
    
    display: inline-block;
    vertical-align: middle;
    width: 275px;
    margin-right: 1.25rem;
  }
}

.no-border {
  border: 0;
  box-shadow: none; 
}

.error-message-file{
  color: #ff8196;
  font-size: 14px;
  margin-left: .2rem;
}

.wrap-button { 
  display: inline-block;
  vertical-align: middle;
  margin-top: 1rem;
}

.wrap-fileUpload{
  // border: 1px solid blue;
  label{
    margin-left: 1rem;
  }

  .afu-valid-file{
    margin-left: 1rem;
  }

  .afu-upload-status{
    color: #ff8196;
    font-size: 14px;
    margin-left: .2rem;
  }
}






// @import '../../../themes';

// @include nb-install-component() {
//   .full-width {
//     flex: 1;
//     min-width: 220px;
//   }

//   nb-checkbox {
//     margin-bottom: 1rem;
//   }

//   .form-inline > * {
//     @include nb-ltr(margin, 0 1.5rem 1.5rem 0);
//     @include nb-rtl(margin, 0 0 1.5rem 1.5rem);
//   }

//   nb-card.inline-form-card nb-card-body {
//     padding-bottom: 0;
//   }
// }



// .afu-select-btn {}


// .afu-reset-btn {}
// .afu-upload-btn {}
// .afu-dragndrop-box {}
// .afu-dragndrop-text {}
.afu-constraints-info {
  display: none;
  border: 1px solid red;
}
// .afu-valid-file {}
// .afu-invalid-file {}
// .afu-progress-bar {}
// .afu-upload-status {}
// .afu-attach-pin {}


// .selectEmpresa{
//   margin-right: 30px
// }