<nb-card>
    <nb-card-header>Crear usuario</nb-card-header>
    <nb-card-body>
      <ng-container *ngIf="loading && success ">
        <nb-alert status="success">Usuario guardado correctamente!</nb-alert>
      </ng-container>

      <ng-container *ngIf="loading && error ">
        <nb-alert status="danger">{{errorMsg}}</nb-alert>
      </ng-container>

      <form [formGroup]="formUsuario" (ngSubmit)="onSubmit()" class="my-form">  
        <div class="row">
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-6 form-group">
                <label for="nombre">Nombre</label>
                <input type="text" nbInput placeholder="Nombre" name="nombre" 
                formControlName="nombre" fullWidth 
                [required]="true" 
                [status]="nombre.dirty ? (nombre.invalid  ? 'danger' : 'success') : ''">
    
                <ng-container *ngIf="loading && nombre?.invalid ">
                  <p class="error-message" *ngIf="nombre.errors?.required">
                    Este campo es requerido.
                  </p>
                </ng-container>
              </div>
    
              <div class="col-md-6 form-group">
                <label for="email">Correo electrónico</label>
                <input type="text" nbInput placeholder="Email" name="email" 
                formControlName="email" fullWidth 
                [required]="true" 
                [status]="email.dirty ? (email.invalid  ? 'danger' : 'success') : ''"
                class="">
                <ng-container *ngIf="loading && email?.invalid ">
                  <p class="error-message" *ngIf="email.errors?.required">
                    Este campo es requerido.
                  </p>
                  <p class="error-message" *ngIf="email.errors?.email">
                    Debe ser una dirección válida.
                  </p>
                </ng-container>
              </div>
              
              <div class="col-md-6 form-group">
                <label for="username">Username</label>
                <input type="text" nbInput placeholder="Username" name="username" fullWidth 
                [status]="username.dirty ? (username.invalid  ? 'danger' : 'success') : ''"
                formControlName="username">
                <ng-container *ngIf="loading && username?.invalid ">
                    <p class="error-message" *ngIf="username.errors?.required">
                    Este campo es requerido.
                  </p>
                </ng-container>
              </div>
    
              <div class="col-md-6 form-group">
                <label for="password">Password</label>
                <input type="password" nbInput placeholder="Password" name="password" fullWidth 
                [status]="password.dirty ? (password.invalid  ? 'danger' : 'success') : ''"
                formControlName="password"> 
                <ng-container *ngIf="loading && password?.invalid ">
                    <p class="error-message" *ngIf="password.errors?.required">
                    Este campo es requerido.
                  </p>
                </ng-container>           
              </div>
    
              <div class="col-md-6 form-group" *ngIf="!tipousuario">
                <label for="empresa">Empresa</label>
                <nb-select placeholder="Empresa" outline status="info" size="small"  formControlName="empresaId" (selectedChange)=chageEmpresa($event)>
                    <nb-option *ngFor="let item of empresas" [value]="item.id">
                        {{ item.razonSocial }}
                    </nb-option>
                </nb-select>
                <ng-container *ngIf="loading && empresa?.invalid ">
                    <p class="error-message" *ngIf="empresa.errors?.required">
                    Este campo es requerido.
                    </p>
                </ng-container>
              </div>
    
              <div class="col-md-6 form-group" *ngIf="!tipousuario">
                <label for="sucursal">Sucursal</label>
                <nb-select placeholder="Sucursales" outline status="info" size="small"  formControlName="sucursalId">
                  <nb-option *ngFor="let item of sucursales" [value]="item.id">
                      {{ item.descripcion }}
                  </nb-option>
                  </nb-select>
                  <ng-container *ngIf="loading && sucursal?.invalid ">
                    <p class="error-message" *ngIf="sucursal.errors?.required">
                      Este campo es requerido.
                    </p>
                  </ng-container>     
              </div>
    
              <div class="col-md-6 form-group no-border" *ngIf="tipousuario">
                <label for="proveedor">Proveedor</label>
                <nb-select placeholder="Proveedores" outline  
                  size="small"  formControlName="proveedorId" 
                  [status]="proveedor.dirty ? (proveedor.invalid  ? 'danger' : 'success') : 'info'"
                  selectedChange="getRangeDate($event)">
                  <nb-option *ngFor="let item of proveedores" [value]="item.id">
                      {{ item.descripcion }}
                  </nb-option>
                </nb-select>
                <ng-container *ngIf="loading && proveedor?.invalid ">
                    <p class="error-message" *ngIf="proveedor.errors?.required">
                    Este campo es requerido.
                  </p>
                </ng-container>
              </div>
            </div>
            
          </div>
          <div class="col-md-4">
            <div class="row">
              <div class="col-md-4 form-group">
                <label for="option">Tipo Usuario</label>
                <nb-radio-group formControlName="option" >
                  <nb-radio
                    *ngFor="let option of options"
                    [value]="option.value">
                    {{ option.label }}
                  </nb-radio>
                </nb-radio-group>
              </div>
            </div>
          </div>
          <br>
          <div class="col-md-4 form-group">
              <button type="submit" nbButton status="info">Guardar</button>          
          </div>
        </div>
      </form>

    </nb-card-body>
</nb-card>