<nb-card>
  <nb-card-header>Recepción de Remesa</nb-card-header>

  <nb-card-body>

    <div class="alert alert-danger" *ngIf="loading && error ">
      {{errorMsg}}
    </div>

    <div class="row container-des-remesa">
      <form [formGroup]="formRecepcionRemesa" (ngSubmit)="buscarRecepcionRemesa()" >  
        <div class=" wrap-select ">
          <label for="empresa" >Empresa:</label>

          <div class="container-select">
            <nb-select id="" fullWidth name="empresa" placeholder="Selecciona Una Empresa" outline status="info" formControlName="empresaId" size="small" class="" >
              <nb-option *ngFor="let item of empresas" [value]="item.id">
                  {{ item.razonSocial }}
              </nb-option>
            </nb-select>
          </div>

          <div class="wrap-button">
            <button type="submit" nbButton size="small" status="success">Consultar</button>
          </div>

          <ng-container *ngIf="loading && empresa?.invalid ">
              <p class="error-message" *ngIf="empresa.errors?.required">
              Este campo es requerido.
              </p>
          </ng-container>

        </div>
      </form>
    </div>
  </nb-card-body>
</nb-card>


<ng-container *ngIf="displayTable; then thenTemplate; else elseTemplate"></ng-container>

<ng-template #thenTemplate>
  <nb-card>
    <nb-card-header>Recepción de Remesa</nb-card-header>
    
    <nb-card-body>
      <div class="alert alert-danger" *ngIf="loadingRecepcion && isSelectedTable ">
        {{errorMsgTable}}
      </div>
      
      <div class="alert alert-success" *ngIf="loadingRecepcion && successRecepcion ">
        Remesas actualizadas correctamente 
      </div>

      <div class="container-table">
        <ng2-smart-table #grdTags [settings]="settings" [source]="localDataTableSource" (userRowSelect)="onUserRowSelect($event)">
        </ng2-smart-table>
      </div>
      <br/>
      <button  nbButton size="small" status="info" (click)="btnRecepcionarRemesas()">Recepcionar</button>

    </nb-card-body>
  </nb-card>
</ng-template>

<ng-template #elseTemplate>
</ng-template>
