<nb-layout >
    <nb-layout-column>
      <nb-card class="card-small-custom">
        <nb-card-body>

          <h1 id="title" class="title">Iniciar sesión</h1>

          <div class="alert alert-danger" *ngIf="isLoading && error ">
            {{errorMsg}}
          </div>

          <ng-container *ngIf="isLoading && success ">
            <nb-alert status="success">Iniciando</nb-alert>
          </ng-container>

          <form [formGroup]="loginForm" (ngSubmit)="login()" >

            <div class="form-control-group">
              <label class="label" for="input-email">Username:</label>
              <input nbInput
                      fullWidth
                      formControlName="username"
                      name="username"
                      id="username"
                      placeholder="Username"
                      [status]="username.dirty ? (username.invalid  ? 'danger' : 'success') : ''"
                      [required]="true"
                      [attr.aria-invalid]="username.invalid && username.touched ? true : null">
              
              <ng-container *ngIf="username.invalid && username.touched">
                <p class="error-message" *ngIf="username.errors?.required">
                  Este campo es requerido.
                </p>
              </ng-container>
            </div>

          
            <div class="form-control-group">
              <label class="label" for="input-password">Contraseña:</label>
              <input nbInput
                      fullWidth
                      name="password"
                      formControlName="password"
                      type="password"
                      id="input-password"
                      placeholder="Contraseña"
                      [status]="password.dirty ? (password.invalid  ? 'danger' : 'success') : ''">

              <ng-container *ngIf="password.invalid && password.touched" >
                <p class="error-message" *ngIf="password.errors?.required">
                  Este campo es requerido.
                </p>
                <p class="error-message" *ngIf="password.errors?.minlength || password.errors?.maxlength">
                  La contraseña debe contener 6 a 8 caracteres
                </p>
              </ng-container>
            </div>
          
            <div class="form-control-group accept-group">
              <nb-checkbox name="remember" formControlName="remember" >Recordar</nb-checkbox>
            </div>
            <br>   

            <div>
              <button nbButton fullWidth status="info">
                Iniciar
              </button>
            </div>
          </form>

        </nb-card-body>
      </nb-card>
      
    
    </nb-layout-column>
</nb-layout>
