@import "src/theme/theme-variables";
@import "~bootstrap/scss/mixins/_breakpoints";

.login-container {
  background: white;
  padding: 20px 30px;
  border-radius: .3px;

  h1{
      text-align: center;
  }
  button {
      width: 100%
  }
}

.login-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 80%;
}

.card-small-custom{
  width: 450px;
  display: block;
  margin: auto;
  padding: 20px 50px;
}

.conte {
  height: 100px;
  border:1px solid blue;
}