
.date-pick-custom{
    label {
        display: block
    }

    input {
        display: block;
        width: 98%;
    }
}


:host /deep/ ng2-smart-table .ng2-smart-actions{
    padding: 0.875rem 1.25rem;
    input[type="checkbox"] {
       border: 1px solid;
       width: auto;
       height: auto;
    }
}
