<nb-card>
  <nb-card-header>Consulta de Remesas</nb-card-header>

  <nb-card-body>
    <div class="alert alert-danger" *ngIf="loading && error ">
      {{errorMsg}}
    </div>

    <div class="">
      <form [formGroup]="formConsultaRemesa" (ngSubmit)="btnConsultaRemesas()" >  
        <div class="row">
          <div class="col-md-4">
            <label for="empresa" >Empresa:</label>

            <div class="container-select">
              <nb-select id="" fullWidth name="empresa" placeholder="Selecciona Una Empresa" outline status="info" formControlName="empresaId" size="small" class="" >
                <nb-option *ngFor="let item of empresas" [value]="item.id">
                    {{ item.razonSocial }}
                </nb-option>
              </nb-select>
            </div>
            <ng-container *ngIf="loading && empresa?.invalid ">
              <p class="error-message" *ngIf="empresa.errors?.required">
                Este campo es requerido.
              </p>
            </ng-container>

          </div>
          <div class="col-md-4">
            <label for="folioRemesa">Folio Remesa:</label>
            <input type="text" nbInput placeholder="Folio Remesa" name="folioRemesa" 
            formControlName="folioRemesa" fullWidth 
            [status]="folioRemesa.dirty ? (folioRemesa.invalid  ? 'danger' : 'success') : ''">
          </div>

          <div class="col-md-4 date-pick-custom">
            <label for="fechafin">Fecha fin:</label>
            <input nbInput  placeholder="Fecha Fin" fullwidth [nbDatepicker]="datepicker" formControlName="fechaFin" name="fechaFin" >
            <nb-datepicker #datepicker ></nb-datepicker>
          </div>

          <div class="col-md-4">
            <br>
            <button nbButton  type="submit" size="small" status="info">Consulta</button>
          </div>
        </div>
        
      </form>
    </div>
  </nb-card-body>
</nb-card>


<ng-container *ngIf="displayTable; then thenTemplate; else elseTemplate"></ng-container>

<ng-template #thenTemplate>
  <nb-card>
    <nb-card-header>Consulta de Remesas</nb-card-header>
    
    <nb-card-body>
      <div class="alert alert-danger" *ngIf="loadingDescarga && isSelectedTable ">
        {{errorMsgTable}}
      </div>


      <div class="container-table">
        <ng2-smart-table #grdTags [settings]="settings" [source]="dataTable" (userRowSelect)="onUserRowSelect($event)">
        </ng2-smart-table>
      </div>
      <br/>
      <button  nbButton size="small" status="info" (click)="btnDescargaConsultaRemesas()">Descargar</button>

    </nb-card-body>
  </nb-card>
</ng-template>

<ng-template #elseTemplate>
</ng-template>



  