.wrap-select {
    display: block;
    label {
        display: inline-block;
        vertical-align: bottom;
        margin-right: 10px;
        padding-left: 1.25rem;
    }
    .container-select{
        display: inline-block;
        vertical-align: middle;
        width: 275px;
        margin-right: 1.25rem;
    }
}

.no-border {
    border: 0;
    box-shadow: none; 
}


:host /deep/ ng2-smart-table .ng2-smart-actions{
    padding: 0.875rem 1.25rem;
    input[type="checkbox"] {
       border: 1px solid;
       width: auto;
       height: auto;
    }
}
.wrap-button { 
    display: inline-block;
    vertical-align: middle;
}