<div class="header-container">
  <div class="logo-containter">
    <a (click)="toggleSidebar()" href="#" class="navigation">
      <i class="ion-md-menu"></i>
    </a>
    <div class="logo" (click)="goToHome()"><span>TRACKSYS</span></div>
  </div>
</div>

<div class="header-container">
  <nb-actions size="medium">
    <nb-action >
      <nb-user [nbContextMenu]="userMenu" nbContextMenuTag="my-context-menu" name={{username}}>
      </nb-user>
    </nb-action>
  </nb-actions>
</div>