<nb-card>
  <nb-card-header>Agregar Usuario</nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="inputFirstName">Nombre</label>
          <input type="text" class="form-control" id="inputFirstName" nbInput placeholder="Nombre">
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="inputLastName">Apellido Paterno</label>
          <input type="text" class="form-control" id="inputLastName" placeholder="Apellido Paterno">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="inputEmail">Apellido Materno</label>
          <input type="email" class="form-control" id="inputEmail" placeholder="Apellido Materno">
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="inputWebsite">Username</label>
          <input type="text" class="form-control" id="inputWebsite" placeholder="Username">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="inputEmail">Telefono Fijo</label>
          <input type="email" class="form-control" id="inputEmail" placeholder="Telefono Fijo">
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="inputWebsite">Telefono Movil</label>
          <input type="text" class="form-control" id="inputWebsite" placeholder="Telefono Movil">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="inputEmail">Dirección</label>
          <input type="text" class="form-control" id="inputEmail" placeholder="Direccion">
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="inputWebsite">Codigo Postal</label>
          <input type="text" class="form-control" id="inputWebsite" placeholder="Codigo Postal">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="">Puesto</label>
            <select class="form-control">
              <option>Puesto 1</option>
              <option>Puesto 2</option>
            </select>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label>Pais</label>
          <select class="form-control">
            <option>México</option>
            <option>China</option>
          </select>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
            <label>Estado</label>
            <select class="form-control">
              <option>Aguascalientes</option>
              <option>Mexico</option>
            </select>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label>Municipio</label>
          <select class="form-control">
            <option>Atotonilco</option>
            <option>ACtopan</option>
          </select>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
            <label>Colonia</label>
            <select class="form-control">
              <option>Colonia</option>
              <option>China</option>
            </select>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label>Proveedor</label>
          <select class="form-control">
            <option>Proveedor 1</option>
            <option>Proveedor 2</option>
          </select>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label>Empresa</label>
          <select class="form-control">
            <option>Empresa 1</option>
            <option>Empresa 2</option>
          </select>
        </div>
      </div>
    </div>


    <button type="submit" class="btn btn-primary">Submit</button>
  </nb-card-body>
</nb-card>