@import 'themes';

@import '~@nebular/theme/styles/globals';

@include nb-install() {
  @include nb-theme-global();
  @include nb-auth-global(); 

};

.error-message{
  color: #ff8196;
  font-size: 14px;
  margin-left: 1.25rem;
}

.afu-constraints-info {
  display: none;
  border: 1px solid red;
}

.afu-upload-btn{
  display: none;
}

.afu-upload-status{
  // display: none;
  font-size: 14px;
}

.afu-valid-file{
  padding-left: 1rem;
}
