<nb-layout [center]="layout.id === 'center-column'" windowMode>
    <nb-layout-header fixed>
        <app-header></app-header>
    </nb-layout-header>

    <nb-sidebar class="menu-sidebar"
                    tag="menu-sidebar"
                    responsive
                    [end]="sidebar.id === 'end'">
        <nb-menu [items]="menu"></nb-menu>

    </nb-sidebar>

    <nb-layout-column class="main-content">
            <router-outlet></router-outlet>        
    </nb-layout-column>

    <nb-layout-column start class="small" *ngIf="layout.id === 'two-column' || layout.id === 'three-column'">
        <nb-menu [items]="subMenu"></nb-menu>
    </nb-layout-column>

    <nb-layout-column class="small" *ngIf="layout.id === 'three-column'">
        <nb-menu [items]="subMenu"></nb-menu>
    </nb-layout-column>

    <nb-layout-footer fixed>

    </nb-layout-footer>

</nb-layout>














<!-- <nb-layout>
    <nb-layout-header>
        <h1>header</h1>
    </nb-layout-header>
    <nb-layout-footer>

    </nb-layout-footer>

    <nb-layout-column>
        <router-outlet></router-outlet>        
    </nb-layout-column>

    <nb-layout-column>
            <nb-menu [items]="menu"></nb-menu>
    </nb-layout-column>

</nb-layout> -->
